extends ../layouts/common
block header
    nav(style="background:white !important").navbar.navbar-expand-lg.navbar-light.bg-light
        .navbar-brand(href='#',style='width:25% !important;height:80%')
            img.img-pro.card-img-top(src='../imgs/logo.png',style='width:50%;height:25%')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/').pr-5
                        | Home 
                        span.sr-only (current)
                li.dropdown.nav-item.active
                    a.nav-link(href='#').pr-5
                        | Category 
                        span.sr-only (current)
                    .dropdown-content
                        a(href='#') Link 1
                        a(href='#') Link 2
                        a(href='#') Link 3
                li.nav-item.active
                    a.nav-link(href='#').pr-5
                        | Contact
                        span.sr-only (current)
            div(style='width:6% !important')   
                if user==null
                    a(href='/user/login')               
                        img.img-pro.card-img-top(src='/imgs/account.png',style='width:50%;height:6%')
                else 
                    a(href='/user/login')               
                        img.img-pro(src=''+user.photos,style='width:50%;height:6%; border: 1px;border-radius: 5px;')  
            div(style='width:6% !important')   
                a(href='/user/cart')               
                    img.img-pro.card-img-top(src='../imgs/cart.png',style='width:50%;height:6%')                    
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
block content
    .w-100.container.p-0
        div.row
            div.col-8
                input#pro(type="hidden",value=detail)
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th(style='width:55%') Product
                            th(style='width:10%') Price
                            th(style='width:10%') Quantity
                            th.text-center(style='width:10%') Total Count
                            th.text-center(style='width:10%') Subtotal
                            th(style='width:5%')
                    tbody
                        tr
                            td()
                                .row
                                    .col-sm.hidden-xs
                                        img.w-100.detail-pro.img-responsive(src='../'+detail.path,style="width:100%,height:100%")
                                .col-sm
                                    h4.nomargin #{detail.name}
                                    p #{detail.detail}
                            td.pt-3.w-100 $#{detail.price}
                            td.w-100
                                input.form-control.text-center(type='number', value='1')
                            td.pt-3.text-center.w-100 #{detail.count}
                            td.w-100
                                input.form-control.text-center(type='number', value='1')
                            td.pt-3.text-center.w-100 $#{detail.price}
                            td.actions.w-100
                                button.btn.btn-rounded.btn-primary()#addToCart
                                        | Add to Cart
            div.col-4
                table.table.table-hover#cart
                    thead
                        tr.table-success.d-flex
                            th(scope='col').col-1 #
                            th(scope='col').col-3 Product Image
                            th(scope='col').col-3 Product Name
                            th(scope='col').col-2 Price
                            th(scope='col').col-1
                    tbody#tbodyAjax
                        if cart != null
                            each row in cart.detail
                                tr.table-success.d-flex
                                    th(scope='row').col-1#stt
                                    td.col-3 
                                        img(src='../'+row.path,style='width:50%;')
                                    td.col-3 #{row.name}
                                    td#price.col-2 #{row.price}$
                                    td.col-1
                                        button.delete.btn.btn-danger(type='button',value=''+row._id) X
                        tfoot.table-success
                                th  Total: 
                                    span#total
    script.
        setTotalPrice();  
                    
block footer    
    include ../layouts/footer